<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>profile</title>
</head>
<body style="background: #000;">

    <br>
    <div class="col-12">  
        <div class="col-6" style="padding-left: 40%;">      
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive" alt="" style="border-radius: 150px;"> </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name" style="margin-left: 14%;color:#888 ;"><h1>{{user.username}}</h1></div>
                    <div class="profile-usertitle-job" style="margin-left: 10%;color:#888 ;"> email : {{user.email}} </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div> 
</body>
</html>